<h1>All Posts</h1>
<% @posts.each do |post|%>
  <%= post.title %></div>
  <%= truncate(post.body, :length => 35)%>
  <%= link_to "Read Post", post_path(post) %>
<% end %>
<!-- <div>
<%= link_to "create post", new_post_path %> 
</div> -->
<%= link_to "sign up", new_user_session_path %> | 
<%= link_to "log in", user_session_path %> |
<%= link_to "edit profile", edit_user_registration_path %>

